body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}

#title {
    color: white;
}

.game-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    height: 800px;
    text-align: center;
    background-color: #0a2e59;
}


.pick-player {
    background-color: #0fb8d6;
    border-radius: 15px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 360px;
    margin-top: 200px;
    cursor: pointer;
    
    text-align: center;
}

.pick-categorie {
    background-color:#0fb8d6;
    border-radius: 15px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 360px;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
}

.pick-player:hover{
    background-color: #10caeb;
}

.pick-categorie:hover {
    background-color: #10caeb;
}

#player-screen {
    display: none; /* start hidden */
    color: white;  /* so it shows well on dark background */
    margin-top: 150px;
}

.player-options {
    margin-top: 20px;
}

.player-box {
    background-color: #0fb8d6;
    border-radius: 10px;
    padding: 10px;
    margin: 8px auto;
    width: 80%;
    color: white;
    font-weight: bold;
}


.Back-Add button {
    margin-top: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#category-screen {
    display: none; /* start hidden */
    color: white;  /* so it shows well on dark background */
    margin-top: 150px;
}

.category-options {
    margin-top: 20px;
}

.category-box {
    background-color: #0fb8d6;
    border-radius: 10px;
    padding: 10px;
    margin: 8px auto;
    width: 80%;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#back-to-main2 {
    margin-top: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}